---
import Cursor from "../3d/cursor.tsx";
import MainLayout from "@/layouts/mainLayout.astro";
import {CodeXmlIcon, MusicIcon, SportShoeIcon, PlusIcon} from "@lucide/astro";
import HomeScreenNav from "@/components/homeScreenNav.astro";
---


<script>
    import {gsap} from "gsap";
    import { ScrambleTextPlugin } from "gsap/ScrambleTextPlugin";

    gsap.registerPlugin(ScrambleTextPlugin);

    gsap.from("#title", {
        scrambleText: "yesac kenosam",
        duration: 1,
    }).then(() => {
        gsap.to("#header", {
            height: "9vh",
            overflowY: "auto",
            delay: 1
        });
    })

    gsap.to(".move",{
        top: -1.2 * 250 + "lh",
        duration: 200,
        repeat: -1,
        ease: "linear",
    })
</script>

<MainLayout>
    <div class="overflow-y-hidden">
        <div class="p-3 h-[101vh] flex items-center border-b-1 justify-center z-10 bg-background" id="header">
            <h1 class="text-5xl" id="title">Casey Masonek</h1> <h1 class="text-5xl" id="header"></h1>

        </div>
        <div class="flex flex-row w-full h-[91vh] relative overflow-clip">
            <div class="absolute top-0 w-1/2 move z-0 overflow-clip">
                <div class="flex w-[140%] rotate-0 left-[-3px] flex-wrap items-center">
                    {Array.from({length: 1000}).map((item) => {
                        return ["Programmer", "Musician", "Athlete", "Learner", "Friend"].map(item => (
                                <span class="text-xl text-neutral-200 dark:text-accent">{item}&nbsp;·&nbsp;</span>
                        ))
                    })}
                </div>
            </div>
            <div class="w-1/2 flex justify-center items-center">
                <Cursor client:only={"react"} />
            </div>
            <div class="border-l-1 p-3 w-1/2">
                <div class="max-h-1/2 overflow-y-scroll">
                    <h2 class="text-3xl mb-3">Hi, I'm Casey!</h2>

                    <p class="text-muted-foreground">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
                        <br />
                        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
                        <br />
                        Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
                    </p>
                </div>
                <hr class="my-3" />

                <div class="w-full grow grid flex-row grid-cols-2 gap-5">
                    <HomeScreenNav title="Programmer" Icon={CodeXmlIcon} path="/programming">
                        While only really beginning 4 years ago, I've really been coding my whole life.
                    </HomeScreenNav>

                    <HomeScreenNav title="Musician" Icon={MusicIcon} path="/music">
                        I've been making music my whole life, both in music production software
                        and with actual instruments.
                    </HomeScreenNav>

                    <HomeScreenNav title="Athlete" Icon={SportShoeIcon} path="/athletics">
                        I've been competing in track and field for 4 years, as a high jumper and
                        pole vaulter.
                    </HomeScreenNav>

                    <HomeScreenNav title="And more!" Icon={PlusIcon} path="/misc">
                        Of course, I can't fit all of my hobbies into three buckets.
                        Here are some misc. projects.
                    </HomeScreenNav>
                </div>
            </div>
        </div>
    </div>
</MainLayout>

